
/* Estilo del cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVKMyQNLiVBqrPUbPJPHWFAkKwhYZzqyFVaQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilo del encabezado */
header {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgL_oBmQBI4rf7RazDpXR5tgbeLYgHU-rtgg&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Estilo del formulario */
form {
  background-image: url(https://images.unsplash.com/photo-1547071286-4c6552bbe26b?ixlib=rb-4.0.3);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo de etiquetas y campos de entrada */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilo del botón de envío */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Estilo del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Estilo del valor del seguro */
#valorSeguro {
  font-weight: bold;
  color: #333;
}

/* Estilo de los encabezados de etiquetas h4 */
h4 {
  margin: 0;
}

/* Añade cualquier otro estilo específico que desees */

/* Alinea el botón Enviar al centro */
form input[type="submit"] {
  margin: 0 auto;
  display: block;
}

/* Ajusta el ancho del formulario según el contenido */
form {
  max-width: 500px;
  margin: 20px auto;
}
